body {
    font-family: 'Roboto', sans-serif;
    color: $bodyLiteBGFontColor;
}

body.dark {
    background-color: $albumBackgroundColor;
}

body.album {
    background-color: $albumBackgroundColor;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $bodyLiteBGFontColor;
}

a:hover {
    color: $hoverColorLiteBG;
}

* {
    box-sizing: border-box;
}