body {
    font-family: 'Roboto', sans-serif;
    color: $bodyLiteBGFontColor;
}

body.dark {
    background-color: $albumBackgroundColor;
}

body.album {
    background-color: $albumBackgroundColor;
}

.no-scroll {
    overflow: hidden;
}

/*
@font-face {
    font-family: 'Roboto';
    src: url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&display=swap);
}
*/


img {
    max-width: 100%;
    height: auto;
}

a {
    color: $bodyLiteBGFontColor;
}

a:hover {
    color: $hoverColorLiteBG;
}

* {
    box-sizing: border-box;
}