.album-footer {
    /* the album footer cannot be fixed as it will appear on top of videos and other text*/
    padding: 0.5rem 0; /*top/bottom, left/right*/
    width: 100%;
    text-align: center;

    @mixin atMedium {
      padding: 3.5rem 0;
    }

    &__short-screen {
      position: fixed;
      bottom: 0;
    }

    &__text {
        display: block;
        margin-bottom: 1rem;
        color: $bodyDarkBGFontColor;
    
        @mixin atMedium {
          display: inline;
          margin-bottom: 0;
          margin-right: 1.4rem;
        }

        a {
          color: $bodyDarkBGFontColor;
        }
        a:hover {
          color: $hoverColorDarkBG;
        }
    }
    
}