.album-headline {
    color: $bodyDarkBGFontColor;

    &__h1 {
        color: $bodyDarkBGFontColor;
        font-size: 2.5rem;
        font-weight: 400;
        padding: 20px 0;
        margin: 0;
        @mixin atMedium{
            font-size: 4rem;
        }
    }

    &__h2 {
        color: $bodyDarkBGFontColor;
        font-size: 1.75rem;
        font-weight: 400;
        padding: 10px 0;
        margin: 0;
        @mixin atMedium{
            font-size: 3rem;
        }
    }

    &__h3 {
        color: $bodyDarkBGFontColor;
        font-size: 1.4rem;
        font-weight: 400;
        padding: 10px 0;
        margin: 0;
    }

}