.headline {
    font-size: 2.5rem;
    font-weight: 400;

    @mixin atMedium{
        font-size: 4rem;
    }

    &__h1 {
        font-size: 2.5rem;
        font-weight: 400;
        padding: 20px 0;
        margin: 0;

        &--center{
            text-align: center;
        }

        @mixin atMedium{
            font-size: 4rem;
        }
    }

    &__h2 {
        color: $bodyLiteBGFontColor;
        font-size: 2rem;
        font-weight: 400;
        padding: 10px 0;
        margin: 0;

        &--center {
            text-align: center;
        }

        @mixin atMedium{
            font-size: 3rem;
        }
    }

    &__h3 {
        color: $bodyLiteBGFontColor;
        font-size: 1.75rem;
        font-weight: 400;
        padding: 10px 0;
        margin: 0;

        @mixin atMedium{
            font-size: 2rem;
        }
    }

    &__h4 {
        color: $bodyLiteBGFontColor;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 10px 0;
        margin: 0;

        @mixin atMedium{
            font-size: 1.7rem;
        }
    }

    &__author {
        font-size: 1.3rem;
        font-style: italic;
    }

    &__breadcrumbs {
        display: inline;
    }
    /*
    &--dark {
        color: $bodyDarkBGFontColor;
    }
    */
}
