.headline {
    font-size: 2rem;
    font-weight: 400;

    &--center {
        text-align: center;
    }

    &--dark {
        color: $bodyDarkBGFontColor;
    }

    &--h2 {
        color: $bodyLiteBGFontColor;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 10px 0;
        margin: 0;
    }

    &--h3 {
        color: $bodyLiteBGFontColor;
        font-size: 1.17rem;
        font-weight: 400;
        padding: 10px 0;
        margin: 0;
    }

    &__breadcrumbs {
        display: inline;
    }
    
}
