.primary-nav {

    &&--pull-right {
        background: $siteHeaderDarkBackgroundColor;
        position: relative;
        top: -110px;
        padding-top: 100px;
        padding-bottom: 15px;

        @mixin atMedium {
            position:static;
            padding-top: 0;
            padding-bottom: 0;
            float: right;
        }
    }

    &__siteHome {
        position: relative;
        @mixin atMedium {
            position: absolute;
            left: 0;
        }
    }

    a {
        color: $bodyDarkBGFontColor;
        text-decoration: none;
        transition: all $menuTransition ease-in;
        
        @mixin atMedium {
            padding: 4px 15px;
        }
    }

    a:hover{
        text-decoration: underline;
    }

    &&--dark {
        background: $siteHeaderLiteBackgroundDesktop;

        a {
            color: $bodyLiteBGFontColor;
            text-decoration: none;
            padding: 7px 15px;
        }

        a:hover{
            text-decoration: underline;
        }
    }

    ul {
        margin: 0;
        padding: 25px 0px 0px 30px; /*top right bottom left*/
        @mixin clearfix{};
        @mixin atMedium{
            padding: 25px 0px 0px 0px;
        }
    }
    
    li {
        list-style: none;
        display: block;
        padding-top: 25px;
        font-size: 1.8rem;

        @mixin atMedium {
            float: left;
            display: inline-block;
            padding-top: 4px;
            /*padding-right: 15px;*/
            border-top: none;
            font-size: 1.2rem;
        }
    }

    li:first-child {
        padding-top: 0px;
        padding-bottom: 5px;
        border-top: none;
        @mixin atMedium {
            padding-top: 4px;
        }
    }

    li:last-child {
        padding-right: 0;
        padding-bottom: 5px;
        @mixin atMedium {
            padding-right: 20px;
        }
    }
}