.site-header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    transition: background-color .3s ease-out;
    backdrop-filter: blur(2px);

    &--is-expanded {
        background-color: rgba(0, 0, 0, 0.5);
        &--dark {
            background-color: rgba(230, 230, 230, 0.7);
        }
    }
    &--is-hidden {
        backdrop-filter: none;
    }

    @mixin atMedium {
        padding: 10px 0;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.1);
        &--dark {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    &__logo {
        position: absolute;
        top: 0;
    }

    &__menu-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 10;
        top: 10px;
        right: 10px;
        color: #fff;

        &--dark {
            color: $bodyLiteBGFontColor;
        }

        .site-header__menu-icon__x {
            position: absolute;
            top: 0px;
            right: 7px;
            opacity: 0;
        }

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x {
        .site-header__menu-icon__bars {
            opacity: 0;
        }
        .site-header__menu-icon__x {
            opacity: 1;
        }
    }

    &__menu-content {
        opacity: 0;
        display: none;
        transform: scale(.8);
        transition: all .3s ease-out;
        position: relative;
        text-align: left;

        @mixin atMedium {
            opacity: 1;
            display: block;
            transform: scale(1);
            text-align: center;
        }

        &--is-hidden {/*Used with VanishingMenus*/
            opacity: 0;
            transform: scale(1);
            display: none;
        }

        &--is-visible {
            display: block; /* ?? this ignores the transform so may need to do this in js */
            opacity: 1;
            transform: scale(1);
        }
    }
}