.site-header {
    padding: 0 0; /* top padding causes scrollbar to move down so must be 0 */
    /*max-width: 1200px; want the header text constrained but the header background color to stretch across*/ 
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    height: 90px;
    z-index: 10;
    transition: background-color .3s ease-out;
    transition: top .3s;

    @mixin atSmall{
        position: absolute;
        right: 0px;
        padding-top: 0;
        width: 100%;
    }
    @mixin atMedium {
        width: 100%;
        height: 90px;
        padding: 10px 0;
        /*position: sticky;*/ /* Home page hero is pushed down with sticky*/
        position: fixed;
        background-color: $siteHeaderDarkBackgroundColor;
    }

    &--dark {
        background-color: $siteHeaderLiteBackgroundDesktop;
        position: sticky;
    }
    &--album {
        background-color: $siteHeaderDarkBackgroundColor;
        position: sticky;
    }
    &--album-slideshow {
        background-color: $siteHeaderDarkBackgroundColor;
    }

    &--collapse {
        top: -100px;
        transition: top .3s;
    }
    &--expand {
        /*position: fixed; can't see top of page*/
        top: 0;
    }
    &__slideshow-expand {
        top:0;
        width: 100%;
    }
    &__slideshow-collapse {
        top:-100px;
        width: 100%;
    }

    &--is-expanded {
        z-index: 2;
        &--dark {
            background-color: $siteHeaderLiteBackgroundDesktop;
        }
    }

    &__logo {
        position: relative;
        left: -18px;
        padding-top: 17px;
        float: left;
        border: 0;
        width: 220px; /*logo is width: 250px; height: 60px;*/
    }

    &__menu-icon {
        width: 90px;
        height: 70px;
        position: absolute;
        z-index: 10;
        top: 10px;
        right: 50px;
        background-color: $siteHeaderBackgroundColor;
        color: $siteHeaderLiteBackgroundMobile;
        border: 1px solid $siteHeaderLiteBackgroundMobile;
        border-radius: 9999px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $hoverColorLiteBG;
        }

        &--dark {
            background-color: $siteHeaderLiteBackgroundDesktop;
            color: $bodyLiteBGFontColor;
            border: 1px solid $bodyLiteBGFontColor;

            &:hover {
                background-color: $hoverColorDarkBG;
            }
        }

        &--collapse {
            top: -100px;
            transition: top .3s;
        }
        &--expand {
            top: 10px;
        }

        @mixin atSmall {
            right:10px;
        }
    
        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--collapsed::after {
        font-size: 30px;
        font-family: 'Material Icons';
        content: '\e5d2';
        /*https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element*/
        /*content: url('/assets/images/menu_FILL0_wght400_GRAD0_opsz48.svg');*/
    }

    &__menu-icon--expanded::after {
        font-size: 30px;
        font-family: 'Material Icons';
        content: '\e5cd';
    }

    &__menu-content {
        transform: scale(.8);
        transition: all .3s ease-out;
        position: fixed;
        text-align: left;
        padding-top: 100px;
        padding-bottom: 15px;
        left:-800px;
        width: 1px;
        z-index: 1;

        @mixin atMedium {
            opacity: 1;
            width: 100%;
            display: block;
            position: static;
            transform: scale(1);
            text-align: center;
            padding-top: 20px;
        }

        &--collapse {
            top: -70px;
            transition: top .3s;
        }
        &--expand {
            top: 0;
        }

        /*not used?*/
        &--is-hidden {/*Used with VanishingMenus.js but commented*/
            left:-50px;
            top: 30px;
            transform: scale(1);
            display: none;
        }

        &--is-visible {
            left:0;
            width: 100%;
            height: 100%;
            opacity: 1;
            transform: scale(1);
            background: rgba(0, 0, 0, 0.9);
            overflow-y: scroll;
        }
    }
}