.slideshow {
    /*
    use a div container: <div style="width: 100%;height:100vh;">
    */
    background-color: #000;
    float: left;
    width: 100%;
    height:100%;

    &__slides {
        display: inline-flex;
        position: relative;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      
        &__slide {
            background: #000;
            opacity: 0;
            transition: opacity $slideTransition ease-in;
            position: absolute;
            display:flex;
            justify-content: center;
            width: 100%;
    
            &--is-visible {
                opacity: 1;
            }

            .slide-image{
                width: auto;
                max-width: 100%;
                height: auto;
                object-fit: contain; /*on picture element, object-fit requires height and width values*/
                object-position: 50% 50%;
            }

            .titletext {
                display: none;
            }

            picture {
                display:flex;
                height: 100%;
                width: 100%;
                justify-content: center;
            }

            &--spinner {
                position: absolute;
                z-index: -1;
                top: 50%;
                margin: auto;
                border-radius: 50%;
                width: 36px;
                height: 36px;
                border: 0.25rem solid #fff;
                border-top-color: #686868;
                -webkit-animation: spin 1s infinite linear;
                        animation: spin 1s infinite linear;
            }
            @-moz-keyframes spin {
                from { -moz-transform: rotate(0deg); }
                to { -moz-transform: rotate(359deg); }
            }
            @-webkit-keyframes spin {
                from { -webkit-transform: rotate(0deg); }
                to { -webkit-transform: rotate(359deg); }
            }
            @keyframes spin {
                from {transform:rotate(0deg);}
                to {transform:rotate(359deg);}
            }
    
        }
    }

    &__slide-title {
        position: absolute;
        top: 50%;
        left:0%;
        width: 200px;
        transform: translate(0%, -50%);
        padding: 0px 15px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-family: 'Tangerine', sans-serif;
        text-align: center;
        font-size: 2em;
        font-weight:600;
        background: $albumPhotoCaptionBackgroundColor;
        opacity: 1;
        transition: all $slideTransition ease-in;
        z-index: 1;

        &--is-collapsed {
            left: -185px;
        }

        &__button {
            position: fixed;
            top: 0%;
            right: 0%;
            height: 100%;
            width: 15px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: $albumPhotoCaptionBackgroundColor;
            text-decoration: none;
            z-index: 2;
            
            &:hover{
                cursor: pointer;
                background: rgba(0,0,0,0.6);
            }

            &__icon-left {
                font-size: 2rem;
                font-weight: bold;
                color: $bodyLiteBGFontColor;
                position: fixed;
                top: 50%;
                transform: translate(0%, -50%);
                right: -7px;
                margin-top: 4px;
            }
            &__icon-left::after{
                font-family: 'Material Icons';
                font-style: normal;
                content: '\e5cb';
            }

            &__icon-right {
                font-size: 2rem;
                font-weight: bold;
                color: $bodyLiteBGFontColor;
                position: fixed;
                top: 50%;
                transform: translate(0%, -50%);
                right: -7px;
                margin-top: 4px;
            }
            &__icon-right::after{
                font-family: 'Material Icons';
                font-style: normal;
                content: '\e5cc';
            }
        }
    }

    &__slide-caption {
        color: $albumPhotoCaptionBackgroundColor; /* hide caption - make text the same color as background */
        transition: color $slideTransition ease-in-out;
 
        &--is-visible {
            color: #000;
        }
    }

    &__vcr-container {
        position: absolute;
        transition: opacity $menuTransition ease-out;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        border-radius: 40px;
        text-align: center;
        background: rgba(0,0,0,0.5);
        z-index: 100;
        line-height:.8;

        &--is-hidden {
            opacity: 0;
        }

        &--is-visible {
            opacity: 1;
        }

        &--kill {
            left: -1000px;
        }
    
        &__vcr-button--link {
            text-decoration: none;
        }

        &__vcr-button-pause{
            position: relative;
            left:-8px;
            top:4px;
            font-size: 3rem;
            font-weight: normal;
            cursor:pointer;
            color: $vcrButtonColor;
            &:hover {
                color: $vcrButtonHoverColor;
                font-weight: bold;
            }
        }
        &__vcr-button-pause::after {
            font-family: 'Material Icons';
            font-style: normal;
            content: '\e036';
        }

        &__vcr-button-play{
            position: relative;
            left:-8px;
            top:4px;
            font-size: 3rem;
            font-weight: normal;
            cursor:pointer;
            color: $vcrButtonColor;
            &:hover {
                color: $vcrButtonHoverColor;
                font-weight: bold;
            }
        }
        &__vcr-button-play::after {
            font-family: 'Material Icons';
            font-style: normal;
            content: '\e039';
        }

        &__vcr-button-angle-left{
            position: relative;
            display: inline-block;
            left:-8px;
            width: 30px;
            top:5px;
            font-size: 3rem;
            font-weight: normal;
            cursor:pointer;
            color: $vcrButtonColor;
            &:hover {
                color: $vcrButtonHoverColor;
                font-weight: bold;
            }
        }
        &__vcr-button-angle-left::after {
            font-family: 'Material Icons';
            font-style: normal;
            content: '\e5cb';
        }

        &__vcr-button-angle-right{
            position: relative;
            display: inline-block;
            left:-8px;
            width: 30px;
            top:5px;
            font-size: 3rem;
            font-weight: normal;
            cursor:pointer;
            color: $vcrButtonColor;
            &:hover {
                color: $vcrButtonHoverColor;
                font-weight: bold;
            }
        }
        &__vcr-button-angle-right::after {
            font-family: 'Material Icons';
            font-style: normal;
            content: '\e5cc';
        }
    }
}